@model DAL.Entity.OneToMany.ClassRoom
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

    <div class="content-wrapper">
        <div class="card">
            <div class="card-header">
                <h2>Yeni Sınıf Oluştur</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-primary">
                            <form role="form" asp-action="Create" asp-controller="ClassRoom" method="post">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label>Sınıf Adı</label>
                                        <br />
                                        <input asp-for="Room" type="text" class="form-group" placeholder="sınıf adı giriniz" />
                                    </div>
                                    <div class="form-group">
                                        <label>Şube Adı</label>
                                        <br />
                                        <input asp-for="ClassDepartment" type="text" class="form-group" placeholder="şube adı giriniz" />
                                    </div>
                                    <div class="form-group">
                                        <label>Kapasitesi</label>
                                        <br />
                                        <input asp-for="Capacity" type="text" class="form-group" placeholder="kapasite adedini giriniz" />
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Oluştur</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

