@model IEnumerable<DAL.Entity.OneToMany.Branch>
@{
    ViewData["Title"] = "Brans Listesi";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

    <div class="content-wrapper">
        <div class="card">

            <div class="card-header">
                <a asp-action="Create" asp-controller="Branch" class="btn btn-success float-right">Yeni Branş Oluştur</a>
            </div>

            <div class="card-body">
                <table id="branchtable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Branş adı</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var branch in Model)
                        {
                            <tr>
                                <td>@branch.BranchName</td>
                                <td>
                                    <a asp-action="Edit" asp-controller="Branch" asp-route-id="@branch.ID" class="btn btn-sm btn-warning">Düzenle</a>
                                    <a asp-action="Delete" asp-controller="Branch" asp-route-id="@branch.ID" class="btn btn-sm btn-danger">Sil</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#branchtable').DataTable();
        });
    </script>
}

